body {
    display: grid;
    grid-template-columns: 200px 1fr 240px;
    grid-template-areas: 
    "head head head"
    "menu feed msg";
}

header {
    grid-area: head;
    background-color: blue;
}

aside {
    background-color: #cccccc;
}

.menu {
    grid-area: menu;
}

.msg {
    grid-area: msg;
}

main {
   
    grid-area: feed;
}

